//header{

.header {
	
	&__container {
	}
	&__inner {
		
		display: flex;
	}
}

.nav {
	&__list {
		display: flex;
		gap: 1.2rem;
	}
	&__link {
		font-family: $--NEXT-menu__menu-font-family;
		font-size: $--NEXT-menu__menu-font-size;
		letter-spacing: $--NEXT-menu__menu-letter-spacing;
		color: $--NEXT-menu__menu-color;
		transition:all 0.3s linear 0s;
		&:hover {
			color: $--NEXT-menu__menu-color-hover;
		}
	}
}


.logo{
	&__title{
		font-family: $--NEXT-logo__font-name;
		font-weight: $--NEXT-logo__font-weight;
		font-size: $--NEXT-logo__font-size;
		color: $--NEXT-logo__font-color;
		letter-spacing: $--NEXT-logo___menu-letter-spacing;
		opacity: 0.6;
	}
}
//main header

.header {
	&__container_main {
	}
	&__inner_main {
		height: $--NEXT-header__header-main;
		padding: 0 4vw;
		justify-content: space-between;
		align-items: center;
	}
}
