

.Contacts {
	&__container {
	}
	&__inner {
		padding: 5rem 3rem;
	}
}

.me {
	display: flex;
	flex-wrap: wrap;

	&__img {
		flex-basis: 40%;
		position: relative;
		padding-bottom: 47%;
	}

	&__body {
		flex-basis: 60%;
		padding: 1rem 0 2rem 4rem;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 1rem;
	}
	&__contacts {
		display: flex;
		flex-direction: column;
		gap: 2.4rem;
	}
	&__info {
		display: flex;
	}

	&__essay {
		flex-basis: 50%;
	}
	&__form {
		flex-basis: 50%;
		padding: 2rem 0 0 1rem;
	}
	&__form-title {
		text-align: center;
		margin-bottom: 2rem;
		font-family: Anglecia;
		letter-spacing: 0em;
		word-wrap: break-word;
		line-height: 1.2em;
		font-size: 2.2rem;
		margin-bottom: 1rem;
		color: $--NEXT-logo__font-color;
	}

	&__quote {
		text-align: end;
		width: 100%;
		em {
			font-family: playfair display, serif;
			font-size: 2rem;
			&::before {
				content: '“ ';
			}
			&::after {
				content: ' ”';
			}
		}
	}
}

.links__me {
	gap: 1.5rem;
	justify-content: end;
	a {
		font-size: 2rem;
	}
}

// media < =======================

@media (max-width: $--NEXT-screen__PC) {
	.me{
		&__info{
			flex-wrap: wrap;
		}
		&__essay{
			flex-basis: 100%;
		}
		&__form{
			flex-basis: 100%;
		}
	}
}

@media (max-width: $--NEXT-screen__Tablet) {
	.me {
		&__img {
			flex-basis: 100%;
			padding-bottom: 100%;
		}
		&__body {
			flex-basis: 100%;
			padding: 1rem 0;
			height: 20rem;
		}
	}
}
