
.root{
	display: flex;
	align-items: center

}




.switch{
	position: relative;
	
	height: 2rem;
	width: 4rem;
	align-items: center;
	border-radius: 999px;
	background-color: wheat;
	
}

.point{
	transition: all 0.3s ease-in-out 0s;
	position: absolute;
	top: 50%;
	left: 0;
	height: 1.5rem;
	width: 1.5rem;
	background-color: black;
	border-radius: 50%;
	transform: translate(0, -50%);
	background-color: rgb(2, 2, 31);
	

}
.translate6{
	
	transform: translate(20%, -50%);
}
.translate0{
	
	transform: translate(150%, -50%);
}


.isEnabled{
	background: linear-gradient(90deg, rgba(140,252,182,1) 0%, rgba(37,211,102,1) 100%);
}
.isNotEnabled{
	background: linear-gradient(90deg, rgba(253,29,29,1) 0%, rgba(252,101,69,1) 100%);
	
}