$--NEXT-screen__PC: 1200px;
$--NEXT-screen__microPC: 992px;
$--NEXT-screen__Tablet: 768px;
$--NEXT-screen__phone: 480px;
$--NEXT-screen__iphone5: 320px;

.root {
	font-family: Anglecia;
	font-weight: 400;
	font-size: 50px;
	padding: 60px 0;
	color: black;
}
.line {
	text-align: center;
}
.title {
	text-align: center;
}

@media (max-width: $--NEXT-screen__microPC) {
	.root {
		font-size: 40px;
		padding: 50px 0;
	}
}

@media (max-width: $--NEXT-screen__phone) {
	.root {
		font-size: 30px;
		padding: 20px 0;
	}
}

