@import '../../../assets/fonts/fonts.scss';

.root{
	font-family: Anglecia;
	font-weight: 400;
	font-size: 4rem;
	padding: 5rem 0rem;
	color: black;
}
.line{
	text-align: center;
}
.title{
	text-align: center;
}